---
- set_fact:
    uwsgi_version: "2.0.17.1"
    uwsgi_build_dir: /opt/uwsgi
    uwsgi_plugins_dir: /usr/lib/uwsgi/plugins/

- name: Install uwsgi packages
  apt:
    name:
    - uwsgi
    - uwsgi-plugin-python
    - uwsgi-plugin-python3
    state: present
    update_cache: yes
    cache_valid_time: "{{apt_cache_valid_time | default (3600)}}"
  become: yes
  notify:
  - restart all uwsgi

- name: Create uwsgi configuration dir for emperor mode
  file:
    path: /etc/uwsgi{{ item }}/sites
    state: directory
  become: yes
  with_sequence: count={{ uwsgi_n }}

- name: Install uwsgi Upstart conf file
  template:
    src: uwsgi-upstart.conf
    dest: /etc/init/uwsgi{{ item }}.conf
  become: yes
  with_sequence: count={{ uwsgi_n }}
  when: ansible_service_mgr is undefined or ansible_service_mgr != "systemd"
  notify:
  - restart all uwsgi

- name: Install uwsgi Systemd service file
  template:
    src: uwsgi-systemd.service
    dest: /etc/systemd/system/uwsgi{{ item }}.service
    mode: 0644
  become: yes
  with_sequence: count={{ uwsgi_n }}
  when: ansible_service_mgr is defined and ansible_service_mgr == "systemd"
  notify:
  - restart all uwsgi

- name: Ensure uwsgi is started and enabled on boot (systemd)
  service:
    name: uwsgi{{ item }}
    state: started
    enabled: yes
  become: yes
  with_sequence: count={{ uwsgi_n }}
