---

- set_fact:
    mongodb_datadir_prefix: "{{ datadir }}/mongodb"

# This apt_key may not be right
- apt_key:
    keyserver: hkp://keyserver.ubuntu.com:80
    id: 7F0CEB10

- apt_repository:
    repo: deb http://repo.mongodb.org/apt/ubuntu trusty/mongodb-org/3.0 multiverse
    state: present

- name: Install the mongodb package
  apt:
    name: "{{ item }}"
    state: installed
    update-cache: yes
    force: yes
  with_items:
  - mongodb-org
  - python-pip

- name: Install the latest pymongo package
  pip:
    name: pymongo
    state: latest
    use_mirrors: no

- name: Create the data directory for the namenode metadata
  file:
    path: "{{ item }}"
    owner: mongodb
    group: mongodb
    state: directory
  with_items:
  - "{{ mongodb_datadir_prefix }}/db"
  - "{{ mongodb_datadir_prefix }}/log"

- name: Fix datadir owner
  file:
    path: "{{ datadir }}"
    owner: root
    group: root
    state: directory

- template:
    src: mongod.conf
    dest: /etc/mongod.conf
  notify:
  - restart mongod

- name: Start mongod before creating users
  service:
    name: mongod
    state: restarted
    sleep: 5

- mongodb_user:
    database: admin
    name: "{{ mongodb_admin_user }}"
    password: "{{ mongodb_admin_password }}"
    roles: userAdminAnyDatabase
    state: present
  register: result_mongodb_user
  until: not result_mongodb_user|failed
  retries: 5
  delay: 1

- copy: src=indexes.js dest=/tmp
- name: Add mongodb indexes
  shell: mongo < /tmp/indexes.js
