[Definition]

# Option:  actionstart
# Notes.:  command executed once at the start of Fail2Ban.
# Values:  CMD
#
actionstart =

# Option:  actionstop
# Notes.:  command executed once at the end of Fail2Ban
# Values:  CMD
#
actionstop =

# Option:  actioncheck
# Notes.:  command executed once before each actionban command
# Values:  CMD
#
actioncheck =

# Option:  actionban
# Notes.:  command executed when banning an IP. Take care that the
#          command is executed with Fail2Ban user rights.
# Tags:    <ip>  IP address
#          <failures>  number of failures
#          <time>  unix timestamp of the ban time
# Values:  CMD
#
# API v4 - Using API Token
actionban = curl -X POST 'https://api.cloudflare.com/client/v4/accounts/<cfaccount>/firewall/access_rules/rules' \
              -H 'Authorization: Bearer <cftoken>' \
              -H "Content-Type: application/json" \
              --data '{"mode":"block","configuration":{"target":"ip","value":"<ip>"},"notes":"fail2ban"}'


# Option:  actionunban
# Notes.:  command executed when unbanning an IP. Take care that the
#          command is executed with Fail2Ban user rights.
# Tags:    <ip>  IP address
#          <failures>  number of failures
#          <time>  unix timestamp of the ban time
# Values:  CMD
#
# API v4 - Using API Token
actionunban = curl -X DELETE "https://api.cloudflare.com/client/v4/accounts/<cfaccount>/firewall/access_rules/rules/$( \
                curl -X GET "https://api.cloudflare.com/client/v4/accounts/<cfaccount>/firewall/access_rules/rules?page=1&per_page=20&mode=block&configuration.target=ip&configuration.value=<ip>&match=all" \
                  -H "Authorization: Bearer <cftoken>" \
                  -H "Content-Type: application/json" | jq -r '.result[0] | .id')" \
                -H "Authorization: Bearer <cftoken>" \
                -H "Content-Type: application/json"

[Init]

cftoken = {{ cf_token }}
cfaccount = {{ cf_account }}

