- name: restart nginx
  service:
    name: nginx
    state: restarted
    sleep: 5

- name: restart all uwsgi
  service:
    name: uwsgi{{ item }}
    state: restarted
    sleep: 5
  with_sequence: count={{ uwsgi_n }}
