---
- group:
    name: dev
    state: present

- user:
    name: "{{ item }}"
    shell: /bin/bash
    groups: sudo,dev
    append: yes
  with_items: users

- name: Set up authorized_keys for the users
  authorized_key:
    user: "{{ item }}"
    key: "{{ lookup('file', 'public_keys/' + item) }}"
  with_items: users

- lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: '^%sudo'
    line: '%sudo ALL=(ALL) NOPASSWD: ALL'

- lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "^#PasswordAuthentication yes"
    line: PasswordAuthentication no
    backrefs: yes
  notify:
  - restart ssh

- hostname:
    name: "{{ node_hostname }}"
  when: node_hostname is defined
