############################# Filebeat #####################################

filebeat.inputs:

# EAS3 frontend logs
- type: log
  paths:
    - /var/log/echaloasuerte-3/combined*.log
  fields:
    logzio_codec: json
    token: {{ logzio_token }}
    type: echaloasuerte-3-nodejs-combined
    env: {{ filebeat_env }}
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h

# EAS3 uwsgi logs
- type: log
  paths:
    - /var/log/echaloasuerte-3/echaloasuerte-uwsgi*-req.log
  fields:
    logzio_codec: plain
    token: {{ logzio_token }}
    type: echaloasuerte-3-uwsgi
    env: {{ filebeat_env }}
    level: info
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h
- type: log
  paths:
    - /var/log/echaloasuerte-3/echaloasuerte-uwsgi*-err.log
  fields:
    logzio_codec: plain
    token: {{ logzio_token }}
    type: echaloasuerte-3-uwsgi
    env: {{ filebeat_env }}
    level: error
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h

# EAS2 uwsgi logs
- type: log
  paths:
    - /var/log/echaloasuerte/echaloasuerte-uwsgi*-req.log
  fields:
    logzio_codec: plain
    token: {{ logzio_token }}
    type: echaloasuerte-uwsgi
    env: {{ filebeat_env }}
    level: info
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h
- type: log
  paths:
    - /var/log/echaloasuerte/echaloasuerte-uwsgi*-err.log
  fields:
    logzio_codec: plain
    token: {{ logzio_token }}
    type: echaloasuerte-uwsgi
    env: {{ filebeat_env }}
    level: error
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h

# PostreSQL database logs
- type: log
  paths:
    - /var/log/postgresql/postgresql-*-main.log
  fields:
    logzio_codec: plain
    token: {{ logzio_token }}
    type: PostgreSQL
    env: {{ filebeat_env }}
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h

# MongoDB database logs
- type: log
  paths:
    - /var/log/mongodb/mongod.log
  fields:
    logzio_codec: plain
    token: {{ logzio_token }}
    type: mongodb
    env: {{ filebeat_env }}
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h

# Nginx logs
- type: log
  paths:
    - /var/log/nginx/access.log
  fields:
    logzio_codec: plain
    token: {{ logzio_token }}
    type: nginx
    env: {{ filebeat_env }}
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h
- type: log
  paths:
    - /var/log/nginx/error.log
  fields:
    logzio_codec: plain
    token: {{ logzio_token }}
    type: nginx
    env: {{ filebeat_env }}
    level: error
  exclude_lines:
    - ".*access forbidden by rule.*"
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h

# EAS2 django logs
- type: log
  paths:
    - /var/log/echaloasuerte/echaloasuerte_debug.txt
  fields:
    logzio_codec: plain
    token: {{ logzio_token }}
    type: echaloasuerte
    env: {{ filebeat_env }}
    level: debug
  multiline:
    pattern: '^\['
    negate: true
    match: after
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h
- type: log
  paths:
    - /var/log/echaloasuerte/echaloasuerte_err.txt
  fields:
    logzio_codec: plain
    token: {{ logzio_token }}
    type: echaloasuerte
    env: {{ filebeat_env }}
    level: error
  multiline:
    pattern: '^\['
    negate: true
    match: after
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h
- type: log
  paths:
    - /var/log/echaloasuerte/echaloasuerte_log.txt
  fields:
    logzio_codec: plain
    token: {{ logzio_token }}
    type: echaloasuerte
    env: {{ filebeat_env }}
    level: info
  multiline:
    pattern: '^\['
    negate: true
    match: after
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h

# EAS3 django logs
- type: log
  paths:
    - /var/log/echaloasuerte-3/echaloasuerte_debug.txt
  fields:
    logzio_codec: plain
    token: {{ logzio_token }}
    type: echaloasuerte-3
    env: {{ filebeat_env }}
    level: debug
  multiline:
    pattern: '^\['
    negate: true
    match: after
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h
- type: log
  paths:
    - /var/log/echaloasuerte-3/echaloasuerte_err.txt
  fields:
    logzio_codec: plain
    token: {{ logzio_token }}
    type: echaloasuerte-3
    env: {{ filebeat_env }}
    level: error
  multiline:
    pattern: '^\['
    negate: true
    match: after
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h
- type: log
  paths:
    - /var/log/echaloasuerte-3/echaloasuerte_log.txt
  fields:
    logzio_codec: plain
    token: {{ logzio_token }}
    type: echaloasuerte-3
    env: {{ filebeat_env }}
    level: info
  multiline:
    pattern: '^\['
    negate: true
    match: after
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h

# Fail2ban logs
- type: log
  paths:
    - /var/log/fail2ban.log
  fields:
    logzio_codec: plain
    token: {{ logzio_token }}
    type: fail2ban
    env: {{ filebeat_env }}
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h

# Uwsgi emperor logs
- type: log
  paths:
    - /var/log/uwsgi*.log
  fields:
    logzio_codec: plain
    token: {{ logzio_token }}
    type: uwsgi
    env: {{ filebeat_env }}
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h

filebeat.registry_file: /var/lib/filebeat/registry

############################# Output ##########################################

output:
  logstash:
    hosts: ["listener-uk.logz.io:5015"]
    ssl:
      certificate_authorities: ['/etc/filebeat/COMODORSADomainValidationSecureServerCA.crt']
