metricbeat.modules:
- module: system
  metricsets:
    - "cpu"
    - "memory"
    - "network"
    - "filesystem"
  enabled: true
  period: 15s
  processes: ['.*']

- module: docker
  metricsets:
    - "container"
    - "cpu"
    - "diskio"
    - "event"
    - "healthcheck"
    - "info"
    - "memory"
    - "network"
  hosts: ["unix:///var/run/docker.sock"]
  period: 10s
  enabled: true

fields:
  logzio_codec: json
  token: {{ logzio_token }}
  env: {{ filebeat_env }}
fields_under_root: true
ignore_older: 3hr
type: system_metrics

output:
  logstash:
    hosts: ["listener-uk.logz.io:5015"]
    ssl:
      certificate_authorities: ['/etc/filebeat/COMODORSADomainValidationSecureServerCA.crt']
